<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Detalles</servlet-name>
        <servlet-class>com.pagos.controller.Detalles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>com.pagos.controller.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>com.pagos.controller.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encabezados</servlet-name>
        <servlet-class>com.pagos.controller.Encabezados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.pagos.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.pagos.controller.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>com.pagos.controller.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolPago</servlet-name>
        <servlet-class>com.pagos.controller.RolPago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Detalles</servlet-name>
        <url-pattern>/Detalles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encabezados</servlet-name>
        <url-pattern>/Encabezados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolPago</servlet-name>
        <url-pattern>/RolPago</url-pattern>
    </servlet-mapping>
</web-app>
